
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}




.container {

  margin-top: 200px;
  max-width: 550px;
  width: 100%;
  background-color: rgb(99, 150, 172);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.form-group-horizontal {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.form-group-horizontal label {
  width: 120px;
  text-align: right;
  margin-right: 15px;
  font-size: 18px;
  font-weight: 400;
  color: #212529;
}


.form-control-fixed {
  height: 50px;
  width: 250px;
  margin: auto;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  padding: 0 10px;
  border: 1px solid #ccc;
  
}

.btn-custom {
  background-color: #226d7e;
  color: #fcfbfb;
}

.btn-custom:hover {
  background-color: #1d5b64;
}

.btn-secondary {
  background-color: #226d7e;
  color: #ffffff;
}

.btn-secondary:hover {
  background-color: #1d5b64;
}

.form-check-label {
  margin-bottom: 0;
}

.error-message {
  color: red;
  font-weight: bold;
}


.button-group {
  display: flex;
  justify-content: center;  
  gap: 16px;                
  margin-top: 10px;
}

.button-group button {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 8px;
  flex: 0 0 auto; 
}

