<div class="dashboard-container">
  <h2>POLE ESTIMATE UPDATE FORM</h2>

  <div class="form-row">
    <div class="form-group">
      <label for="region">Region</label>
      <select id="region" [(ngModel)]="selectedRegion" (change)="onRegionChange()">
        <option value="" disabled>Select Region</option>
        <option *ngFor="let region of regions" [value]="region">{{ regionDisplayMap[region] }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="circle">Circle</label>
      <select id="circle" [(ngModel)]="selectedCircle" (change)="onCircleChange()" [disabled]="!circles.length">
        <option value="" disabled>Select Circle</option>
        <option *ngFor="let circle of circles" [value]="circle.circleCode">
          {{ circle.circleName }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="division">Division</label>
      <select id="division" [(ngModel)]="selectedDivision" (change)="onDivisionChange()" [disabled]="!divisions.length">
        <option value="" disabled>Select Division</option>
        <option *ngFor="let division of divisions" [value]="division.divisionCode">
          {{ division.divisionName }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="dc">DC</label>
      <select id="dc" [(ngModel)]="selectedDC" [disabled]="!dcs.length">
        <option value="" disabled>Select DC</option>
        <option *ngFor="let dc of dcs" [value]="dc.distributionCenterCode">{{ dc.distributionCenterName }}</option>
      </select>
    </div>
    <div class="form-group search-button-group">
      <label>&nbsp;</label>
      <button class="search-btn" (click)="getdashboard()">Search</button>
    </div>

  </div>


  <div *ngIf="feederCounts && feederCounts.length > 0" class="table-responsive mt-4">

    <table class="table table-bordered table-hover">
      <thead class="table-primary">
        <tr>
          <th>S.No.</th>
          <th>Circle Name</th>
          <th>Division Name</th>
          <th>33/11 KV S/s Name</th>
          <th>11 KV Feeder Code</th>
          <th>11 KV Feeder Name</th>
          <th>Total No. of DTR</th>
          <th>Total DTR Capacity in KVA</th>
          <th>Feeder Length (Existing in KMs)</th>
          <th>Feeder Length (Proposed in KMs)</th>
          <th>% Voltage Regulations (VR)</th>
          <th>Line Loss in KW</th>
          <th>Line Loss (%)</th>
          <th>Consumer</th>
          <th>Map View</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let feeder of feederCounts; let i=index">
          <td>{{i+1}}</td>
          <td>{{ feeder.kv_11_circle_name }}</td>
          <td>{{ feeder.kv_11_division_name }}</td>
          <td>{{ feeder.kv_11_33_11_ss_name }}</td>
          <td>{{ feeder.kv_11_feeder_code }}</td>
          <td>{{ feeder.kv_11_feeder_name }}</td>
          <td>{{ feeder.kv_11_total_no_of_dtr }}</td>
          <td>{{ feeder.total_dtr_capacity_in_kva }}</td>
          <td>{{ feeder.kv_11_feeder_length_in_kms_existing }}</td>
          <td>{{ feeder.kv_11_feeder_length_in_kms_proposed }}</td>
          <td>{{ feeder.kv_11_p_voltage_regulations_vr || 'N/A' }}</td>
          <td>{{ feeder.kv_11_line_loss_in_kw || 'N/A' }}</td>
          <td>{{ feeder.kv_11_line_loss_p || 'N/A' }}</td>
          <td>{{ feeder.consumer_count }}</td>
          <td>

            <button class="btn btn-primary" (click)="viewMap(feeder)">GET POLES</button><br>
         


          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="map" style="height: 700px; width:100%; margin-top: 20px;"></div>
      </div>

      <!-- <div *ngIf="poles.length > 0" class="table-responsive mt-4">
        <h4>Poles/DTRs List</h4>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Type</th>
              <th>Pole Code</th>
              <th>DTR Code</th>
              <th>DTR Name</th>
              <th>Estimate Number</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pole of poles; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ pole.type }}</td>
              <td>{{ pole.pole_code || 'N/A' }}</td>
              <td>{{ pole.dtr_code || 'N/A' }}</td>
              <td>{{ pole.dtr_name || 'N/A' }}</td>
              <td>
      <input type="number" [(ngModel)]="pole.estimateNumber" placeholder="Enter Estimate" class="form-control" />
    </td>
    <button class="btn btn-success" (click)="submitEstimates()">Submit</button>
            </tr>
          </tbody>
        </table>
      </div> -->

      <div class="col-md-6"></div>
    </div>
