<!-- <div class="container">
<h2>ESTIMATE DETAIL SEARCH </h2>


<div classs="form-group">
<input type="text" [(ngModel)]="estimateNumber" placeholder="Enter Estimate Number" 

class="form-control"/>
<button (click)="searchEstimate()" class="btn btn-priamry mt-2">Search</button>
</div>

<div id="map" style="height:700px; margin-top: 20px; "></div>
</div> -->



<div class="container">
  <h2 class="title">ESTIMATE DETAIL MAP</h2>

  <div class="form-group">
    <input type="text" [(ngModel)]="estimateNumber" placeholder="Enter Estimate Number"
      class="form-control small-input" />
    <button (click)="searchEstimate()" class="btn btn-primary search-btn">Search</button>
  </div>

  <div id="map" style="height: 1050px; margin-top: 20px;"></div>
</div>