<div class="dashboard-container">
    <h2>SUBSTATION MAP</h2>
  
    <div class="form-row">
      <div class="form-group">
        <label for="region"><b>Region</b></label>
        <select id="region" [(ngModel)]="selectedRegion" (change)="onRegionChange()">
          <option value="" disabled selected>Select Region</option>
          <option *ngFor="let region of regions" [value]="region">{{ regionDisplayMap[region] }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="circle"><b>Circle</b></label>
        <select id="circle" [(ngModel)]="selectedCircle" (change)="onCircleChange()" [disabled]="!circles.length">
          <option value="" disabled>Select Circle</option>
          <option *ngFor="let circle of circles" [value]="circle.circleCode"> {{ circle.circleName }} </option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="division"><b>Division</b></label>
        <select id="division" [(ngModel)]="selectedDivision" (change)="onDivisionChange()" [disabled]="!divisions.length">
          <option value="" disabled selected>Select Division</option>
          <option *ngFor="let division of divisions" [value]="division.divisionCode"> {{ division.divisionName }} </option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="dc"><b>DC/ZONE</b></label>
        <select id="dc" [(ngModel)]="selectedDC" [disabled]="!dcs.length">
          <option value="" disabled selected>Select DC</option>
          <option *ngFor="let dc of dcs" [value]="dc.code">{{ dc.name }}</option>
        </select>
      </div>

  
    </div>
  
    <button class="search-btn" (click)="getmapsubstation()">Search</button>

   

    <div id="map" style="height: 850px; width: 100%; margin-top: 20px;"></div>