<!-- Sidebar Layout -->
<div class="sidebar">
  <div class="sidebar-header">
    <h4></h4>
  </div>
  <ul class="sidebar-list">
    <li><a routerLink="/app-dashboard" routerLinkActive="active-link"><b>DASHBOARD</b></a></li>
    <li><a routerLink="/app-mapdashboard" routerLinkActive="active-link"><b>SUBSTATION MAP</b></a></li>
    <!-- <li><a routerLink="/app-feeder11" routerLinkActive="active-link"><b>EMB DATA EZ</b></a></li> -->
    <li><a routerLink="/app-test" routerLinkActive="active-link"><b>FEEDER MAP (11KV)</b></a></li>
    <li><a routerLink="" routerLinkActive="active-link"><b>FEEDER MAP (33KV)</b></a></li>
    <li><a routerLink="/app-workdetails" routerLinkActive="active-link"><b>WORK DETAIL</b></a></li>
    <li><a routerLink="/app-embdata" routerLinkActive="active-link"><b>EMB DATA</b></a></li>
    <li><a routerLink="/app-pole-estimate-update" routerLinkActive="active-link"><b>UPDATE MAP</b></a></li>
     <li><a routerLink="/" routerLinkActive="active-link"><b>ESTIMATE MAP</b></a></li>
  </ul>
</div>

<!-- Main Content Area -->
<div class="content">
  <router-outlet></router-outlet>
</div>
