/* Global Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4; /* Light gray background for the entire page */
}

/* Sidebar Styles */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #1978af; /* Light blue background for the sidebar */
  color: rgb(23, 131, 143); /* White text for readability */
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1); /* Light shadow on the right */
}

.sidebar-header {
  padding: 20px;
  background-color: #8BB7D1; /* Slightly darker blue for the header */
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.sidebar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-list li {
  padding: 10px;
  text-align: center;
  transition: all 0.3s ease;
}

/* Link Styles */
.sidebar-list li a {
  display: block;
  color: rgb(51, 5, 5); /* White text for links */
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Active Link Styling */
.sidebar-list li a.router-link-active {
  background-color: #235670; /* Darker blue for active links */
  color: white;
}

/* Hover Effect for Links */
.sidebar-list li a:hover {
  background-color: #02111d; /* Light blue on hover */
  color: #43adbb; /* Blue text color on hover */
}

/* Content Area Styles */
.content {
  margin-left: 180px;
  padding: 20px;
  background-color: #ffffff; /* White background for content */
  height: 100vh; /* Ensure content fills screen */
  overflow-y: auto;
}

h1 {
  color: #333; /* Dark text for headings */
}

p {
  color: #666; /* Lighter text for paragraphs */
  font-size: 18px;
  line-height: 1.6;
}



/* navbar-styling */

.custom-navbar {
  background-color: #479ebb42 !important; /* Match sidebar */
  color: rgb(255, 253, 253);
}

.navbar-brand {
  font-size: 18px;
}

.text-end small {
  color: #f0f0f0;
}
