<!-- Sidebar Layout -->
<div class="sidebar">
  <!-- <div class="sidebar-header">
    MPPKVVCL
  </div> -->
  <ul class="sidebar-list"><br><br><br><br>
    <li><a routerLink="/app-home/app-dashboard" routerLinkActive="active-link"><b>DASHBOARD</b></a></li>
    <li><a routerLink="/app-home/app-mapdashboard" routerLinkActive="active-link"><b>SUBSTATION MAP</b></a></li>
    <!-- <li><a routerLink="/app-feeder11" routerLinkActive="active-link"><b>EMB DATA EZ</b></a></li> -->
    <li><a routerLink="/app-home/app-test" routerLinkActive="active-link"><b>FEEDER MAP (11KV)</b></a></li>
    <li><a routerLink="/app-home/app-feeder33" routerLinkActive="active-link"><b>FEEDER MAP (33KV)</b></a></li>
    <li><a routerLink="/app-home/app-workdetails" routerLinkActive="active-link"><b>WORK DETAIL</b></a></li>
    <li><a routerLink="/app-home/app-embdata" routerLinkActive="active-link"><b>EMB DATA</b></a></li>
    <li><a routerLink="/app-home/app-pole-estimate-update" routerLinkActive="active-link"><b>UPDATE POLE ESTIMATE (11KV)</b></a></li>
    <li><a routerLink="/app-home/app-pole-estimate-update" routerLinkActive="active-link"><b>UPDATE POLE ESTIMATE (33KV)</b></a></li>
    <li><a routerLink="/app-home/app-estimate-detail" routerLinkActive="active-link"><b>ESTIMATE VIEW </b></a></li>
    <li><a routerLink="/app-login" routerLinkActive="active-link"><b>LOG OUT </b></a></li>
  </ul>
</div>

<!-- <nav class="navbar navbar-expand-lg custom-navbar px-3">
  <div class="d-flex align-items-center">
    <img src="assets/logo.jpg" alt="Logo" height="70" class="me-3" />
  <span class="navbar-brand mb-0 h5  position-absolute top-50 start-50 translate-middle">
   <b> <h3>Madhya Pradesh Paschim Kshetra Vidyut Vitran Company Ltd. - INDORE</h3></b>
  </span>
  </div> -->

  <!-- <div class="ms-auto text-end text-white">
    <div>
      Hi, <strong>ipds_admin</strong>
      <img src="assets/user.png" alt="User" class="rounded-circle ms-2" height="24" width="24" />
    </div>
    <small>Last Login: <strong>18/07/2025 11:55:28</strong></small>
  </div> -->
<!-- </nav> -->


<!-- Main Content Area -->
<div class="content">
  <router-outlet></router-outlet>
</div>
